<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/public.css">
	<link rel="stylesheet" href="/stylesheets/aboutUs.css">
	<script src="/js/jquery.min.js"></script>
	<script src='/js/public.js'></script>
</head>
<body style="background:#f4f4f4">
	<header>
		<span class="title">联系我们</span>
	</header>
	<div class="guanyu_1"><img src="images/logo.png" style="width: 6rem;display: block;margin: 0 auto" /></div>
    <div class="msg">
		<span class="name">兰州兰天软件</span>
		<span class="address">兰州市安宁区兰州城市学院</span>
		<span class="phone">Tel:18215101084</span>
		<span class="email">E-Mail:teersky@sina.com</span>
		<span class="email">QQ:470313437</span>
		<span class="check">京公安网备110105012348</span>
    </div>
</body>
</html>