<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>价格提交</title>
		<link rel="stylesheet" href="/stylesheets/public.css" />
		<link rel="stylesheet" href="/stylesheets/add_shu.css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/public.js"></script>
		<script src="/js/add_shus.js"></script>
		<script>
			$(function(){
				$(".submit").click(function(){
						$.ajax({
						url:"",
						data:{
							name:$(".name").val(),
							phone:$(".phone").val(),
							sender:sessionStorage.getItem('username'),
							address:sessionStorage.getItem('cityname'),
							type:$("#type").val(),
							price:$(".price").val(),
							beizhu:$(".beizhu").val()
						}
					});
						console.log($(".name").val())
				});
			
			});
		</script>
	</head>
	<body>
		<header>
			<!--<span class="return"><a href="javascript:;"><返回</a></span>-->
			<span class="title">蔬菜信息上传</span>
		</header>

		<ul class="list">
			<li>
				<span class="txt1">蔬菜名</span>
				<input type="text" value="" name="name" class="name"/>
			</li>
			<li>
				<span class="txt1">手机号码</span>
				<input type="text" name="phone" class="phone"/>
			</li>
			<li>
				<span class="txt1">位置坐标</span>
				<input type="text" name="address" class="address"/>
			</li>
			<li>
				<span class="txt1">蔬菜类型</span>
				<select name="type" id="type">
					<option value="瓜类">瓜类</option>
					<option value="果类">果类</option>
					<option value="蔬菜">蔬菜</option>
					<option value="肉类">肉类</option>
				</select>
			</li>
			<li>
				<span class="txt1">蔬菜价格</span>
				<input type="text" name="price" class="price"/>
			</li>
			<li>
				<span class="txt1">蔬菜规格</span>
				<textarea name="beizhu" rows="" cols="" class="beizhu"></textarea>
			</li>
		</ul>
		<input type="button" value="提 交" class="submit"/>

		
	</body>
</html>
