 <!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>农产品价格公示平台</title>
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="wiying/Tpl/Wap/wiying/Index/J-lvjianwu/default/index.css" />
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/jquery.js"></script>
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/jquery-1.2.6.pack.js"></script>
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/g.base.js"></script>
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/iscroll.js"></script>
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/alert.js"></script>
		<script type="text/javascript" src="wiying/Tpl/Wap/wiying/common/common.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hKVAUB5UkC7wOnkfeinSuIAoX2xt6aBQ"></script>
		<script src="js/index.js" ></script>
		<script type="text/javascript">
			var myScroll;

			function loaded() {
				myScroll = new iScroll('wrapper', {
					snap: true,
					momentum: false,
					hScrollbar: false,
					onScrollEnd: function() {
						document.querySelector('#indicator > li.active').className = '';
						document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
					}
				});
			}
			document.addEventListener('DOMContentLoaded', loaded, false);

			$(function(){
				var map = new BMap.Map("allmap");
				var point = new BMap.Point(116.331398, 39.897445);
				map.centerAndZoom(point, 12);
				var cityName = '';

				var myCity = new BMap.LocalCity();
				myCity.get(myFun);				

				function myFun(result) {
					cityName = result.name;
					map.setCenter(cityName);
					//alert("当前定位城市:"+cityName);
					if(cityName=='全国'){
						cityName="兰州市";
					}
					sessionStorage.setItem("cityName", cityName);
				}
			});
		</script>
	</head>

	<body>
		<header>
			<div class="banner">
				<div id="wrapper" style="overflow: hidden; ">
					<div id="scroller">
						<ul id="thelist">
							<li>
								<p></p>
								<a href="#"><img src="upload/img/20131005/13809660403848.jpg" style='height:100%'/></a>
							</li>
							<li>
								<p></p>
								<a href="#"><img src="upload/img/20131005/13809660562640.jpg" style='height:100%'/></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="nav">
				<div id="prev" onclick="javascript:myScroll.scrollToPage('prev', 0);"></div>
				<ul id="indicator">
					<li class="active"></li>
					<li></li>
				</ul>
				<div id="next" onclick="javascript:myScroll.scrollToPage('next', 0, 400, 2);"></div>
			</div>
			<div class="clr"></div>
		</header>
		<script>
			var count = document.getElementById("thelist").getElementsByTagName("img").length;
			for(i = 0; i < count; i++) {
				document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
			}
			document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
			setInterval(function() {
				myScroll.scrollToPage('next', 0, 400, count);
			}, 3500);
			window.onresize = function() {
				for(i = 0; i < count; i++) {
					document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
				}
				document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
			};
		</script>
		<div class="content">
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809673822754.png) center no-repeat; background-size:contain;"></div>
				<div class="text">最新价格</div>
			</a>
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809673974739.png) center no-repeat; background-size:contain;"></div>
				<div class="text">价格展示</div>
			</a>
			<a  data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674157426.png) center no-repeat; background-size:contain;"></div>
				<div class="text">历史价格</div>
			</a>
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674319154.png) center no-repeat; background-size:contain;"></div>
				<div class="text">交流平台</div>
			</a>
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674461949.png) center no-repeat; background-size:contain;"></div>
				<div class="text">天气预报</div>
			</a>
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674651404.png) center no-repeat; background-size:contain;"></div>
				<div class="text">个人中心</div>
			</a>
			<a  data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674805918.png) center no-repeat; background-size:contain;"></div>
				<div class="text">新闻动态</div>
			</a>
			<a data-role="none">
				<div class="img" style="background:url(upload/img/20131005/13809674974016.png) center no-repeat; background-size:contain;"></div>
				<div class="text">联系我们</div>
			</a>
		</div>
		
		<div class="footer">
			<p class="footer-top">&COPY;农产品价格公示平台 </p>
		</div>
		<div id="allmap" style="width: 0; height:0; display: none"></div>
		<script>
			checkUser();
			function checkUser(){
				var hrefArr=['shu_list','all_shu','#','weibo','weather','myMsg','#','aboutUs'];
				
				$(".content a").each(function(index){
					$(this).click(function(){
						var getUserName=sessionStorage.getItem('username');
						console.log(getUserName);
						sessionStorage.setItem("url", hrefArr[index]);

						if(getUserName==null){
							sessionStorage.setItem("url", hrefArr[index]);
							location.href='login';
						}else{
							location.href=hrefArr[index];
						}
					});
				});
				
			}
			
		</script>
	</body>

</html>