<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/public.css" />
	<link rel="stylesheet" href="/stylesheets/myMsg.css" />
	<script src="/js/public.js"></script>
	<script src="js/public.js"></script>
</head>
<body>
	<ul class='oul'>
		<li><span>姓名</span><span>teersky</span><div class="clear"></div></li>
		<li><span>姓名</span><span>teersky</span><div class="clear"></div></li>
		<li><span>姓名</span><span>teersky</span><div class="clear"></div></li>
		<li><span>姓名</span><span>teersky</span><div class="clear"></div></li>
	</ul>
</body>
</html>