<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>简易微博</title>
<link rel='stylesheet' href='/stylesheets/weibo.css' />
<script src="js/jquery.min.js"></script>
<script src="js/public.js"></script>
<script>
window.onload=function(){
    var oTxt=document.getElementById('t1');
    var oBtn=document.getElementById('btn1');
    var oBox=document.getElementById('reply_box');
    var oPageBox=document.getElementById('page_box');
  //  var URL='/php/weibo.php';
    var URL='weibo1'
    var index=0;
    oBtn.onclick=dianji;

    function dianji(){
        var username =sessionStorage.getItem('username');
        if(oTxt.value==''){
            alert('发表的评论不能为空！');
            return;
        }else{
            $.ajax({
                url:URL,
                data:{
                    act:'add',
                    content:oTxt.value,
                    username:username
                },
                success:function(data){
                  //  console.log(data);
                    var json=data; 
                    console.log(json);
                    var oDiv=createMsg(oTxt.value,json.time,0,0,json.ID);
                    if(oBox.children){
                        console.log(oBox.childNodes[0]);
                        oBox.insertBefore(oDiv,oBox.childNodes[0]);
                    }else{
                        oBox.appendChild(oDiv);   
                    }
                    getPageDate();
                    oTxt.value=''; 
                    
                }
               
            }); 
        }
    }
    getPageDate(); 

    

    function getPageDate(){

        oBox.innerHTML='';
        $.ajax({
            url:URL,
            data:{
                act:'get'
            },
            success:function(data){
                var arr=data;
                for(var i=0;i<arr.length;i++){
                     var oDiv=createMsg(arr[i].content,arr[i].name,arr[i].time,arr[i].acc,arr[i].ref,arr[i].ID);
                     oBox.appendChild(oDiv);
                }
            },
            err:function(){
                console.log('123');
            }
        });
    }

    function createMsg(content,name,time,acc,ref,id){
        var oDate=new Date();
        oDate.setTime(time);
        var sDate=oDate.getFullYear()+'-'+toDou(oDate.getMonth()+1)+'-'+toDou(oDate.getDate())+' '+toDou(oDate.getHours())+':'+toDou(oDate.getMinutes())+':'+toDou(oDate.getSeconds());
        var oDiv=document.createElement('div');
        oDiv.className='reply';
        oDiv.innerHTML='<p class="replyContent">'+content+'</p>'
                    +'<p class="operation">'
                    +'<span class="replyTime">'+name+'&nbsp</span>'
                    +'<span class="replyTime"> '+sDate+'</span>'
                    +'<span class="handle">'
                    +'<a href="javascript:;" class="top">'+acc+'</a>'
                    +'<a href="javascript:;" class="down_icon">'+ref+'</a>'
                    +'<a href="javascript:;" class="cut">删除</a>'
                    +'</span>'
                    +'</p>';
       
        var cut=oDiv.getElementsByTagName('a')[2];
        cut.onclick=function(){
            console.log(id)
            if(confirm('确定删除吗？')){
                $.ajax({
                    url:URL,
                    data:{
                        act:'del',
                        id:id
                    },
                    success:function(data){
                        var json=data;
                      
                        oBox.removeChild(oDiv);
                        getPageDate(1);
                         //   getPageCount();
                        
                    }
                });    
            };
        };
        var top_bReady=true; 
        var top=oDiv.getElementsByTagName('a')[0];
        var low_bReady=true; 
        var bReady=true;
        var low=oDiv.getElementsByTagName('a')[1];
       top.onclick=function(){
        console.log(top_bReady+ "===" +bReady)
            if(top_bReady && bReady){
                top.style.color='#09F';
                $.ajax({
                    url:URL,
                    data:{
                        act:'acc',
                        id:id
                    },
                    success:function(data){
                        var json=data;
                        var num=(json[0].acc-1+2);
                        $.ajax({
                            url:URL,
                            data:{
                                act:"acc_update",
                                id:id,
                                acc_num:num,
                                old_num:json[0].acc-1+1
                            },
                            success:function(data){
                               $.ajax({
                                    url:URL,
                                    data:{
                                        act:'acc',
                                        id:id
                                    },
                                    success:function(data){
                                       top.innerHTML=data[0].acc;
                                    },
                                    err:function(e){
                                        console.log(e)
                                    }
                                });
                            },
                            err:function(e){
                                console.log(e)
                            }
                        })
                    },
                    err:function(e){
                    console.log(e)
                    }
                }); 
                top_bReady=false;
                bReady=false;
            }else{
                return false;
            }
            top_bReady=false;
            bReady=false;
        }; 
        
        low.onclick=function(){
            console.log(low_bReady +'==='+ bReady)
            if(low_bReady && bReady){
                low.style.color='#09F';
                $.ajax({
                    url:URL,
                    data:{
                        act:'ref',
                        id:id
                    },
                    success:function(data){
                        var json=data;
                        var num=(json[0].ref-1+2);
                        $.ajax({
                            url:URL,
                            data:{
                                act:"ref_update",
                                id:id,
                                acc_num:num,
                                old_num:json[0].ref-1+1
                            },
                            success:function(data){
                                $.ajax({
                                    url:URL,
                                    data:{
                                        act:'ref',
                                        id:id
                                    },
                                    success:function(data){
                                        low.innerHTML=data[0].ref;
                                    }
                                });
                            }
                        })
                    }
                });
                low_bReady=false;
                bReady =false; 
            }else{
                return false;
            }
            low_bReady=false;
            bReady =false; 
        }; 
      
         return oDiv;
    }
    function toDou(num){
        return num<10?'0'+num:num;
    }
};



</script>
</head>

<body>
<div class="znsArea">
<!-- 留言 -->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="t1"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" id="btn1" />
        </div>
    </div>
<!-- 已留 -->
    <div class="commentOn">
        <div class="messList" id="reply_box">
            <!-- <div class="reply">
                <p class="replyContent">卫士，新款卫士将推出总共14种车身式样。其中， XS旅行款车型售价为32295英镑(约33.6万元)。</p>
                <p class="operation">
                    <span class="replyTime">2011-09-08 16:37:60</span>
                    <span class="handle">
                        <a href="javascript:;" class="top">0</a>
                        <a href="javascript:;" class="down_icon">0</a>
                        <a href="javascript:;" class="cut">删除</a>
                    </span>
                </p>
            </div> -->
        </div>
        <div class="page" id="page_box">
           <!--  <a href="javascript:;" class="active">1</a>
               <a href="javascript:;">2</a>
               <a href="javascript:;">3</a> -->
        </div>
    </div>
</div>
</body>
</html>
