body{
	margin: 0;
	padding: 0;
}
.loginBG{
	width: 100%;
	z-index: -100;
	position: absolute;
	top:0;
	left: 0;
}
header{
	width: 100%;
	height: 40px;
	background: #5D6DDE;
	position: relative;
	left:0;
	top:0;
	
}
header a{
	color:#fff;
	line-height: 40px;
	font-size:12px;
	text-decoration: none;
}
header span{
	font-size: 20px;
	color:#fff;
	position: relative;
	left:50%;
	margin-left: -60px;;
}

.input{
	height: 100%;
	margin: 0.6rem 0px;
	display: block;
	float:left;
	position: relative;
}
.inp1{
	margin-top: 10rem;
}

.input span{
	font-size: 0.8rem;
	display: block;
	float:left;
	color:#f2f3f4;
}
.input input{
	display: block;
}

.user_psd{
	position: absolute;
	top:0.55rem;
}
.warn{
	position: absolute;
	left:1.2rem;
	bottom:-0.65rem;
	color:#f30;
}
.logo{
	width: 3rem;
	height: 3rem;
	border: 2px solid #fff;
	margin-top: 40px;
	border-radius: 50px;
	position: absolute;
	left:50%;
	margin-left: -50px;
	top:100px;
	background: url(../images/logo.png) no-repeat;
	background-size: 2.5rem;
	background-position: 0.2rem 0.2rem;
}

.username{
	width: 240px;
	height: 40px;
	margin-left: 50px;
	border-radius: 50px;
	font-size: 15px;
	text-indent: 12px;
	outline: none;
}

.password{
	width: 240px;
	height: 40px;
	margin-left: 50px;
	border-radius: 50px;
	font-size: 15px;
	text-indent: 12px;
	outline: none;
}
.submit{
	width: 12rem;
	height: 2rem;
	font-size: 1.2rem;
	margin-left: -6rem;
	border-radius:0.4rem;
	background: #00B7FF;
	color: #fff;
	box-shadow: 0.1rem 0.1rem 0.4rem #3150a7;
	display: block;
	margin : 0 auto;
	margin-top: 6rem
}

.zc{
	font-size: 0.6rem;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
	margin-left: 3rem;
}
.forget{
	font-size: 0.5rem;
	width: 6rem;
	height: 0.8rem;
	color: #5d6dde;
	display: block;
	margin-left: 7rem;
}
#user option{
	display: block;
	width: 200px;
	height: 40px;
}
.father{
	width: 80%;
	padding: 0 1.5rem;
}