
.znsArea {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	font-family: "Microsoft YaHei"
}

.commentOn {
	width: 100%;
	display: block;
	overflow: hidden;
	border: #a5bcff solid 1px;
	background: #f3f8fd;
	margin-top: 0.5rem;
	font-family: Verdana
}

.reply {
	overflow: hidden;
	padding: 0.2rem 0.4rem;
	background: #FFF;
	border-top: #e9e9e9 solid 1px;
	border-bottom: #e9e9e9 solid 1px
}

.userInfo {
	display: block;
	overflow: hidden;
	height: 0.55rem;
	border-bottom: #bababa solid 1px
}

.userName {
	float: left;
	background: url(/img1/userBj.png) left center no-repeat;
	padding-left: 0.2rem;
	color: #000;
	font-size: 0.6rem;
	font-weight: bold
}

.replyTime {
	float: left;
	color: #8b8585;
	line-height: 0.65rem;
	font-size: 0.4rem;
}

.replyContent {
	line-height: 0.65rem;
	font-size: 0.4rem;
	color: #2b2b2b;
	font-family: "Microsoft YaHei"
}

.operation {
	clear: both;
	width: 100%;
	height: 0.75rem;
	margin-top: 0.18rem;
}

.handle {
	float: right;
	padding-top: 0.15rem;
}

.handle a {
	text-decoration: none;
	float: left;
	margin-left: 0.2rem;
	background: url(/img1/icons.png) 0 0 no-repeat;
	background-size: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 0.48rem;
	color: #333;
	font-size: 0.4rem;
}
.handle b {
	text-decoration: none;
	float: left;
	margin-left: 0.2rem;
	background: url(/img1/icons.png) 0 0 no-repeat;
	background-size: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	padding-left: 0.48rem;
	color: #333;
	font-size: 0.4rem;
	margin: 0 0.3rem;
}
.handle .top_icon {
	background-position: 0 -0rem;
}
.handle .top_icon_01 {
	background-position: 0 0;
}
.handle .down_icon {
	background-position: 0 -0.4rem;
}
.handle .down_icon_01 {
	background-position: 0 -0.4rem;
}

.handle .cut {
	background-position: 0 -0.86rem;
}

.handle a:active {
	color: #09F
}

.noContent {
	text-align: center;
	display: block;
	background: #FFF;
	font: 14px/2.3 "Microsoft YaHei";
	border-bottom: #e9e9e9 solid 1px;
	border-top: #e9e9e9 solid 1px;
	color: #999
}

.takeComment {
	width: 95%;
	display: block;
	overflow: hidden;
	border: #a5bcff solid 1px;
	background: #f3f8fd;
	margin-top: 0.65rem;
	font-family: Verdana;
	padding: 15px 20px
}

.takeTextField {
	width: 95%;
	height: 1.85rem;
	border: #b1b1b1 solid 1px;
	clear: both;
	display: block;
	margin: 10px 0 10px 0;
	line-height: 0.45rem;
	padding: 5px;
	box-shadow: inset 0 0 5px #DDD;
	font-family: "Microsoft YaHei"
}

.takeSbmComment {
	display: block;
	overflow: hidden
}

.takeSbmComment span {
	float: right;
	color: #CCC;
	line-height: 0.85rem;
	padding-right: 10px
}

.inputs {
	float: right;
	width: 3rem;
	height: 0.9rem;
	border: none 0;
	background: tranparent;
	background: url(/img1/takeSbmComment.png) no-repeat;
	background-size: cover;
	cursor: pointer;
	opacity: .8
}

.inputs:hover {
	opacity: 1
}

.inputs:active {
	opacity: .9
}

.messList {
	overflow: hidden
}

.page {
	text-align: right;
	font-size: 0;
	font-family: Verdana;
	padding: 10px 16px
}

.page a {
	display: inline-block;
	height: 20px;
	padding: 0 7px;
	border: #CCC solid 1px;
	font: 12px/20px Verdana;
	text-decoration: none;
	margin-left: 5px;
	background: #FFF
}

.page a:hover {
	background: #09F;
	color: #FFF;
	border-color: #09F
}

.page .active {
	background: #CCC
}

.page a:active {
	opacity: .8
}
