<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/phone.css" />
<script src="/js/jquery.min.js"></script>
<script>
document.getElementsByTagName('html')[0].style.fontSize=document.documentElement.clientWidth/16+'px';
</script>
</head>

<body>
<div class="ceshi">
	<div class="ceshi_1">
    	<div class="ceshi_2"></div>
        <div class="ceshi_3"></div>
        <div class="ceshi_4">
        	<p><span class="active">1</span></p>
            <p><span class="no_active">2</span></p>
            <p><span class="no_active">3</span></p>
        </div>
    </div>
    <div class=" clear"></div>
    <div class="ceshi_5">
    	<p class="active_1">填写手机号</p>
        <p>短信验证</p>
        <p>设置密码</p>
    </div>
</div>

<div class="clear"></div>


<div class="ceshi_6">
	<div class="biaoqian">
        <div class="ceshi_6_1">
            <div class="ceshi_6_shuru">
                <div class="ceshi_6_f_1">手机号</div>
                <div class="ceshi_6_f_2">请输入11位手机号</div>
                <input  type="text" />
            </div>
        </div>
        <div class="clear"></div>
        <div class="ceshi_7">
            <div class="anniu ceshi_7_1"></div>
            我已阅读<a href="#">《燕京旅游服务条款》</a>
        </div>
    </div>
    <div class="biaoqian"  style="display:none">
        <div class="shouji">
        	<div class="shouji_1">
            	<div class="suijima"></div>
            	<div class="shouji_1_1">验证码</div>
                <div class="shouji_1_2">短信验证码</div>
                <div class="shouji_1_4"><img src="/images/chacha.png" /></div>
                <div class="shouji_1_3_b"><span>60</span>秒后可重发</div>
            </div>
            <input type="text" />
        </div>
        <div class="shouji_5">
        已发送短信验证码到<span>18215101084</span>
        </div>
    </div>
    <div class="biaoqian"  style="display:none">
        <div class="zhuce">
        	<div class="dianhua">注册<span>18215101084</span></div>
            <div class="pass">
            	<div class="mima">密码</div>
                <input class="mima_1" type="password" />
                <div class="yanjing">
                	<img class="chacha" src="/images/chacha.png" />
                    <img class="xianshi" src="/images/yanjing.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<DIV class="xiayibu ceshi_8_no_a">下一步<span>(1/3)</span></DIV>
</body>
</html>
<script>
var Sms = require('./routes/sms.js'); 
var sms = new Sms(); 
sms.send(req, res);
$(".mima_1").change(function(){
	$(".xiayibu").removeClass("ceshi_8_no_a")
	$(".xiayibu").addClass("ceshi_10_a")
	})
$(".chacha").click(function(){
	$(".mima_1").val("")
	$(".mima_1").focus()
	})
$(".xianshi").click(function(){
	if($(this).hasClass("xianshi_1")){
		$(".mima_1").attr("type","password")
		$(this).removeClass("xianshi_1")
		}else{
			$(".mima_1").attr("type","text")
			$(this).addClass("xianshi_1")
			}
	
	})
function suijima(){
	var Num="";
	for(var i=0;i<6;i++)
	{
	Num+=Math.floor(Math.random()*10);
	}
	return Num;
	}
var time_dingshi = ""
function dingshi(){
	var dq_shuz = parseInt($(".shouji_1_3_b").find("span").text())
	if(dq_shuz>0){
		dq_shuz -= 1;
		$(".shouji_1_3_b").find("span").text(dq_shuz)
		}else{
			$(".shouji_1_3_b").html("重新发送")
			$(".shouji_1_4").hide();
			$(".shouji_1_3_b").css({"background":"#2b93f6"})
			$(".shouji_1_3_b").addClass("yzm")
			$(".suijima").text(" ")
			clearInterval(time_dingshi)
			}
	}
	
$(".shouji_1_4").click(function(){
	$(".shouji").find("input").val("")
	$(".shouji").find("input").focus();
	
	})	
$(".shouji_1_3_b").click(function(){
	if($(this).hasClass("yzm")){
		$(".shouji_1_4").show()
		$(".suijima").text(suijima)
		$(this).css({"background":"#cccbcb"})
		$(this).removeClass("yzm")
		$(this).html("<span>60</span>秒后可重发")
		time_dingshi = setInterval(dingshi,1000)
		}
	})
$(".anniu").click(function(){
	
	if($(this).hasClass("ceshi_7_1")){
		$(this).removeClass("ceshi_7_1")
		$(this).addClass("ceshi_7_1_b")
		var huodong = $(".ceshi_6_shuru").find("input").val();
			if(huodong){
				$(".xiayibu").removeClass("ceshi_8_no_a")
				$(".xiayibu").addClass("ceshi_8_a")
			}
		}else{
			$(this).removeClass("ceshi_7_1_b")
			$(this).addClass("ceshi_7_1")
			$(".xiayibu").removeClass("ceshi_8_a")
			$(".xiayibu").addClass("ceshi_8_no_a")
			}
	})

$(".xiayibu").click(function(){
	if($(this).hasClass("ceshi_8_a")){
		$('.ceshi_3').animate({"width":"66%"});
		$(".ceshi_4").find("span").eq(1).removeClass("no_active")
		$(".ceshi_4").find("span").eq(1).addClass("active")
		$(".ceshi_5").find("p").eq(1).addClass("active_1")
		$(this).find("span").text("(2/3)")
		$(this).removeClass("ceshi_8_a")
		$(this).addClass("ceshi_8_no_a")
		var tel = $(".ceshi_6_shuru").find("input").val();
		$(".shouji_5").find("span").text(tel)
		$(".biaoqian").eq(0).hide()
		$(".biaoqian").eq(1).show()
		$(".suijima").text(suijima())
		time_dingshi = setInterval(dingshi,1000)
		}
		else if($(this).hasClass("ceshi_9_a")){
			$('.ceshi_3').animate({"width":"97%"});
			$(".ceshi_4").find("span").eq(2).removeClass("no_active")
			$(".ceshi_4").find("span").eq(2).addClass("active")
			$(".ceshi_5").find("p").eq(2).addClass("active_1")
			$(this).text("注册")
			$(this).removeClass("ceshi_9_a")
			$(this).addClass("ceshi_8_no_a")
			$(".biaoqian").eq(1).hide()
			$(".biaoqian").eq(2).show()
			}else if($(this).hasClass("ceshi_10_a")){
				alert("注册成功")
				}
	
	})
//搜索输入框
$('.ceshi_6_f_2').click(function(){
	$(this).hide();
	$(".ceshi_6_shuru").find("input").focus();
	})
			
$(".ceshi_6_shuru").find("input").focus(function(){
	$(this).siblings(".ceshi_6_f_2").hide();
	})
			
$(".ceshi_6_shuru").find("input").blur(function(){
	var sr_z = $(this).val();
		if(!sr_z){
			$(this).siblings(".ceshi_6_f_2").show()
		}else{
			if($(".anniu").hasClass("ceshi_7_1_b")){
				$(".xiayibu").removeClass("ceshi_8_no_a")
				$(".xiayibu").addClass("ceshi_8_a")
				}else{
					$(".xiayibu").removeClass("ceshi_8_a")
					$(".xiayibu").addClass("ceshi_8_no_a")
					}
			}
})



$('.shouji_1_2').click(function(){
	$(this).hide();
	$(".shouji").find("input").focus();
	})
			
$(".shouji").find("input").focus(function(){
	$(this).siblings(".shouji_1").find(".shouji_1_2").hide();
	})
			
$(".shouji").find("input").blur(function(){
	var sr_z = $(this).val();
		if(!sr_z){
			$(this).siblings(".shouji_1").find(".shouji_1_2").show()
		}else{
			var yzm = parseInt($(".suijima").text())
			if(yzm==$(this).val()){
				$(".xiayibu").removeClass("ceshi_8_no_a")
				$(".xiayibu").addClass("ceshi_9_a")
				}else{
					$(".xiayibu").removeClass("ceshi_9_a")
					$(".xiayibu").addClass("ceshi_8_no_a")
					}
			}
})
</script>